header {
	background: #DCC7A3;
	padding: 5px 0;
	position: fixed;
	left: 0;
	right: 0;
}

header nav ul li {
	display: inline;
}

header nav a {
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-size: 26px;
	margin: 0 10px;
}

/* Pseudo Class */
header nav a:hover {
	color: black;
}

/* Hero Image Background */
.hero-image-section {
 background-image: url("../images/sunrise.png");
 background-attachment: fixed;
 background-size: cover;
 padding: 200px 0;
 text-align: center;
}

.container {
	max-width: none;
	margin: 0;
}

.photo-section {
	padding: 10px 0;
}

.photo-section h1 {
	text-align: center;
	font-size: 50px;
}
.photo-section p::first-line {
	text-align:center;
	font-size:40px;
}

.pages {
	display:inline-block;
	width:410px;
}

.pages img {
	width:400px;
}

.ink {
	text-align: center;
	font-size: 30px;
}
